<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>vue validator bug</title>
</head>
<body>
<div id="app">
    <p>{{model}}</p>
    <validator name="validation">
        <select v-model="model" initial="off" detect-change="on"  v-validate:is_married="{required: true}">
          <option :value="null">请选择</option>
          <option :value="true">true</option>
          <option :value="false">false</option>
        </select>
        <div v-if="$validation.is_married.required" style="color:red">出错啦</div>
    </validator>

</div>

<script src="https://cdn.bootcss.com/vue/1.0.28/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-validator/2.1.3/vue-validator.js"></script>



<script>
    window.app = new Vue({
        el: '#app',
        data: {
            model: null
        }
    })
</script>
</body>
</html>